@model Topics.Web.ViewModels.PostVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    @{
        if (Model != null)
        {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Topic.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
            </p>
        }
        else
        {
            <h3>Post has been removed</h3>
        }
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
